API_ENDPOINT=https://love-this.ru/api

# backend part

SECRET_KEY=your_secret_key_here
API_PREFIX=/api
ADMIN_PATH=/admin

POSTGRES_DB=qwertytown
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/qwertytown

JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_TOKEN_LIFETIME=60
JWT_ALGORITHM=HS256


