# automatic recurse
# git config --global submodule.recurse true

# start work with submodules
# git submodule update --init

# get new versions of submodules
# git submodule update --remote

[submodule "mpit-backend"]
	path = mpit-backend
	url = https://github.com/mpit-T04K1/mpit-backend
[submodule "mpit-frontend"]
	path = mpit-frontend
	url = https://github.com/mpit-T04K1/mpit-frontend
[submodule "mpit-tg-bot"]
	path = mpit-tg-bot
	url = https://github.com/mpit-T04K1/mpit-tg-bot
